<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The NASA image of day</title>
  </head>
  <body>
    <!-- <p>One <%= theResult.fr %> costs <%= theResult.val %> <%= theResult.to %>s</p> -->
    <p><%= theResult %></p>
    <!-- <h2><%= theResult.data.title %></h2>
    <p><%= theResult.data.explanation %></p>
    <img src=<%= theResult.data.hdurl %> -->
  </body>
</html>
